body {
    margin: 0;
}



.game-content {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin: auto;
}

.game {
    display: grid;
    grid-template-areas: 'green_area red_area'
        'yellow_area blue_area';
    grid-gap: 10px;
    color: white;
    background-color: white;
    border-radius: 100%;
    border: 20px outset white;
    width: 500px;
    height: 500px;
}

.blue {
    grid-area: blue_area;
    background-color: blue;
    border-bottom-right-radius: 100%;
}

.red {
    grid-area: red_area;
    background-color: red;
    border-top-right-radius: 100%;
}

.yellow {
    grid-area: yellow_area;
    background-color: yellow;
    border-bottom-left-radius: 100%;
}

.green {
    grid-area: green_area;
    background-color: green;
    border-top-left-radius: 100%;
}

.selected {
    opacity: 0.4;
}

.signature {
    color: white;
    font-weight: bolder;
    font-size: small;
    height: 5vh;
    width: 20vw;
    align-items: left;
    margin-left: 3%;
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: right;
    width: 50%;
}