body {
    margin: 0;
    background-color: hsl(0, 64%, 54%);
}

.game-content {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game {
    display: grid;
    grid-template-areas: 'green red'
    'yellow blue';
    grid-gap: 10px;
    color: red;
    background-color: white;
    border-radius: 100%;
    border: 1px solid white;
    width: 500px;
    height: 500px;
}